.sidebar-iteam{
    margin-top: 15px;
    padding: 5px;
}
.sidebar-btn{
    margin-top: 15px;
}
.sidebar-iteam:hover{
    border: solid;
    padding: 4px;
    border-color: #393c43;
    border-radius: 8px;
}
.user-icon{
    margin-top: 30px;
    margin-left: 20%;
}
.iteam-icon{
    margin-right: 10px;
}
.logout-btn{
    background-color: skyblue;
    border-radius: 8px;
    border: none;
    width: 110%;
}
.logout-btn:hover{
    border: solid;
}
.sidebar-iteam-userprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}